NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_USER=NAMADATABASELO
DB_PASSWORD=PASSWORDLO
DB_NAME=NAMADATABASELO
DB_CONNECTION_LIMIT=10
DATABASE_URL="mysql://NAMADATABASELO:PASSWORDLO@localhost:3306/NAMADATABASELO"

# JWT
JWT_SECRET=ISI_JWT_SECRET_LO
JWT_EXPIRES_IN=1d

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=EMAIL_LO
SMTP_PASS=GMAIL_APP_PASSWORD_LO
EMAIL_FROM="EduCourse <EMAIL_LO>"

# Application
APP_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173